# 第三次课作业

## （1）Pandas基础知识

In [1]:
import numpy as np
import pandas as pd

（1）用字典数据类型创建DataFrame。
data={'state':['a','b','c','d'],
'year':[1991,1992,1993,1994],
'pop':[6,7,8,9]}

In [2]:
df=pd.DataFrame({'state':['a','b','c','d'], 'year':[1991,1992,1993,1994], 'pop':[6,7,8,9]})
df

  state  year  pop
0     a  1991    6
1     b  1992    7
2     c  1993    8
3     d  1994    9

（2）将创建的Dataframe的索引设置为，ABCD。并且命名为“索引”。

In [3]:
df.index=['A','B','C','D']
df.index.name='索引'
df

   state  year  pop
索引
A      a  1991    6
B      b  1992    7
C      c  1993    8
D      d  1994    9

（3）在下面新增一行。然后删除。

In [4]:
a={'state':'e','year':'1995','pop':'10'}
b=pd.Series(a)
b.name='F'
df=df.append(b)
df

   state  year pop
索引
A      a  1991   6
B      b  1992   7
C      c  1993   8
D      d  1994   9
F      e  1995  10

In [5]:
df=df.drop(['F'])
df

   state  year pop
索引
A      a  1991   6
B      b  1992   7
C      c  1993   8
D      d  1994   9

（4）增加新的属性列，列名设置为‘port’，值均为1。

In [6]:
df['part']=1
df

   state  year pop  part
索引
A      a  1991   6     1
B      b  1992   7     1
C      c  1993   8     1
D      d  1994   9     1

（5）取出1991和1994年的数据。

In [7]:
df[(df.year==1991)|(df.year==1994)]

   state  year pop  part
索引
A      a  1991   6     1
D      d  1994   9     1

（6）获取前‘state’和‘year’的数据。

In [8]:
df[['state','year']]

   state  year
索引
A      a  1991
B      b  1992
C      c  1993
D      d  1994

（7）查看每一列数据的数据格式，并且将‘pop’每个数据乘2。

In [9]:
df.dtypes

state    object
year     object
pop      object
part      int64
dtype: object

In [10]:
df['pop']=df['pop'].astype('int')
df.dtypes

state    object
year     object
pop       int32
part      int64
dtype: object

In [11]:
df['pop']*=2
df

   state  year  pop  part
索引
A      a  1991   12     1
B      b  1992   14     1
C      c  1993   16     1
D      d  1994   18     1

## （2）数据操作

（1）读取香港酒店数据。

In [12]:
df=pd.read_excel('香港酒店数据.xlsx')

In [13]:
df[:5]

,Unnamed: 0,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [14]:
df=df.drop('Unnamed: 0',axis=1)
df[:5]

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

（2）按照数据的内容，重新设置数据的索引，重新设置列名称为'名字','类型','城市','地区','地点','评分','评分人数','价格'。

In [15]:
columns=['名字','类型','城市','地区','地点','评分','评分人数','价格']
df.columns=columns
df.columns

Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [16]:
df.index=range(len(df))
df[:5]

,名字,类型,城市,地区,地点,评分,评分人数,价格
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

（3）查看所有类型为“浪漫情侣”的酒店

In [17]:
df[(df.类型=='浪漫情侣')]

,名字,类型,城市,地区,地点,评分,评分人数,价格
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
6,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
21,香港恒丰酒店(Prudential Hotel),浪漫情侣,香港,油尖旺,尖沙嘴 弥敦道222号,4.5,8194.0,692.0
...,...,...,...,...,...,...,...,...
235,香港金坊宾馆(GOLD PALACE HOTEL),浪漫情侣,香港,NaN,香港油尖旺区九龙旺角弥敦道607号新兴大厦22字楼2201室,4.7,436.0,245.0
241,香港登台酒店(HOTEL STAGE),浪漫情侣,香港,油尖旺,佐敦志和街1号,4.7,962.0,1084.0
247,香港红茶馆酒店(鸭脷洲大街店)(Bridal Tea House Hotel (Ap Lei...,浪漫情侣,香港,南区,港岛鸭脷洲大街95号,4.2,1203.0,377.0
248,香港乐仕酒店(Acesite Knutsford Hotel),浪漫情侣,香港,油尖旺,九龙尖沙咀天文台围8号,4.2,1879.0,237.0
260,香港旺角新天地酒店(Mong Kok Sunny Day Hotel),浪漫情侣,香港,油尖旺,香港九龍旺角新填地街419號,4.3,784.0,949.0

（4）查看所有类型为“浪漫情侣”，地区在湾仔的酒店

In [18]:
df[(df.类型=='浪漫情侣')&(df.地区=='湾仔')]

,名字,类型,城市,地区,地点,评分,评分人数,价格
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
6,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
24,香港南洋酒店(South Pacific Hotel),浪漫情侣,香港,湾仔,摩理臣山道23号,4.5,7981.0,445.0
36,香港遨舍卫兰轩(OZO Wesley Hong Kong),浪漫情侣,香港,湾仔,湾仔轩尼诗道22号,4.6,3283.0,871.0
68,香港星网商务精品酒店(Wifi Boutique Hotel),浪漫情侣,香港,湾仔,湾仔 骆克道366号,4.4,1527.0,412.0
73,香港丽骏酒店(Brighton Hotel Hong Kong),浪漫情侣,香港,湾仔,湾仔骆克道128号,4.5,2383.0,1152.0
124,香港逸兰精品酒店(Lanson Place Hotel),浪漫情侣,香港,湾仔,铜锣湾礼顿道133号,4.7,2053.0,1349.0
129,香港珀丽酒店(Rosedale Hotel Hong Kong),浪漫情侣,香港,湾仔,铜锣湾信德街8号,4.4,7342.0,457.0
134,英皇骏景酒店(香港湾仔店)(The Emperor Hotel),浪漫情侣,香港,湾仔,皇后大道东373号,4.5,1040.0,526.0
160,香港华丽铜锣湾酒店(原香港华丽精品酒店)(Best Western Hotel Causew...,浪漫情侣,香港,湾仔,铜锣湾坚拿道西祥和里,4.2,5707.0,309.0
161,香港铜锣湾智选假日酒店(Holiday Inn Express Hong Kong Caus...,浪漫情侣,香港,湾仔,铜锣湾 霎东街33号,4.5,4550.0,774.0
183,香港问月酒店(Mira Moon Hong Kong),浪漫情侣,香港,湾仔,谢斐道388号,4.5,1044.0,1282.0
184,帆船精品酒店(VELA BOUTIQUE HOTEL),浪漫情侣,香港,湾仔,摩理臣山道84-86号,4.2,2063.0,413.0
185,铜锣湾迷你精品酒店(Mini Hotel Causeway Bay),浪漫情侣,香港,湾仔,铜锣湾新会道8号,4.3,4882.0,368.0
218,香港君临海域酒店(Gloucester Hotel),浪漫情侣,香港,湾仔,铜锣湾告士打道218号,4.5,2324.0,957.0

（5）查看所有地址在观塘或者油尖旺，评分大于4的酒店

In [19]:
df[((df.地区=='观塘')|(df.地区=='油尖旺'))&(df.评分>4)]

,名字,类型,城市,地区,地点,评分,评分人数,价格
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
7,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,香港,油尖旺,尖沙咀東部麽地道70号,4.7,4366.0,1296.0
9,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.5,11265.0,692.0
11,香港广易商务宾馆(家庭旅馆)(WIDE EVER HOSTEL),地铁周边,香港,油尖旺,九龙旺角弥敦道607号新兴大厦14楼16单位,4.1,1029.0,218.0
...,...,...,...,...,...,...,...,...
364,香港珊瑚酒店(家庭旅馆)((Coral Inn)(Hostel)),地铁周边,香港,油尖旺,香港九龙尖沙咀弥敦道83-97号华源大厦9/F十楼D2室,4.4,149.0,379.0
373,香港意乐旅馆(eLog Inn),地铁周边,香港,油尖旺,佐敦道22号鸿运大厦4字楼H室,4.3,155.0,237.0
379,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
380,香港恒好宾馆(Hang Ho Hostel),地铁周边,香港,油尖旺,九龙弥敦道242号立信大厦6字楼B室,4.5,142.0,445.0
396,香港御珑馆(家庭旅馆)(Hotel Conext),地铁周边,香港,油尖旺,九龙弥敦道240号立信大厦3楼B室,4.2,359.0,317.0

（6）查看类型缺失的数据

In [20]:
df.isnull()

        名字     类型     城市     地区     地点     评分   评分人数     价格
0     True   True   True   True   True   True   True   True
1    False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...
416  False  False  False  False  False  False  False  False
417  False  False  False   True  False   True   True  False
418  False  False  False  False  False  False  False  False
419  False  False  False  False  False  False  False  False
420  False  False  False  False  False  False  False  False

[421 rows x 8 columns]

（7）用“其他”填充类型和地区

In [21]:
df['地区'].fillna('其他',inplace=True)

In [22]:
df['类型'].fillna('其他')

0        其他
1      休闲度假
2      浪漫情侣
3      商务出行
4      浪漫情侣
       ...
416    地铁周边
417    地铁周边
418    海滨风光
419    海滨风光
420    地铁周边
Name: 类型, Length: 421, dtype: object

（8）用评分均值填充缺失值

In [23]:
df['评分'].fillna(np.mean(df['评分']),inplace=True)

（9）删除价格和评分人数的缺失值

In [24]:
df['价格'].dropna()

1      422.0
2      693.0
3      747.0
4      693.0
5      581.0
       ...
416    227.0
417    977.0
418    709.0
419    709.0
420    256.0
Name: 价格, Length: 413, dtype: float64

In [25]:
df['评分人数'].dropna()

1      17604.0
2      12708.0
3        328.0
4       5014.0
5       3427.0
        ...
415       16.0
416       16.0
418    45462.0
419    45463.0
420      273.0
Name: 评分人数, Length: 404, dtype: float64

（10）保存到“酒店数据1.xlsx”

In [26]:
df.to_excel('酒店数据1.xlsx')