In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('movie_data.xlsx')

In [7]:
df[:5]

,Unnamed: 0,Unnamed: 0.1,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [9]:
df=df.drop('Unnamed: 0',axis=1)

In [10]:
df[:5]

,Unnamed: 0.1,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [11]:
df=df.drop('Unnamed: 0',axis=1)
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [12]:
df.to_excel('movie_data.xlsx')

# 数据格式转换

查看格式

In [13]:
df['投票人数'].dtype

dtype('int64')

In [ ]:
# df['投票人数']=df['投票人数'].astype('float')

In [14]:
df['产地'].dtype

dtype('O')

In [15]:
df['产地']=df['产地'].astype('str')

In [16]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

把年份转化为整数格式

In [17]:
df['年代']=df['年代'].astype('int')
#报错是因为有异常值

ValueError: invalid literal for int() with base 10: '2008\u200e'

In [18]:
#找异常值
df[df.年代=='2008\u200e']

         名字  投票人数  类型    产地                 上映时间  时长     年代   评分 首映地点
14934  狂蟒惊魂   544  恐怖  中国大陆  2008-04-08 00:00:00  93  2008‎  2.7   美国

In [19]:
df[df.年代=='2008\u200e']['年代'].values

array(['2008\u200e'], dtype=object)

In [20]:
df.loc[14934,'年代']=2008

In [21]:
df.loc[14934]

名字                     狂蟒惊魂
投票人数                    544
类型                       恐怖
产地                     中国大陆
上映时间    2008-04-08 00:00:00
时长                       93
年代                     2008
评分                      2.7
首映地点                     美国
Name: 14934, dtype: object

In [24]:
df['年代']=df['年代'].astype('int')

In [25]:
df['年代'][:5]

0    1994
1    1957
2    1997
3    1994
4    1993
Name: 年代, dtype: int32

把时长转化为整数格式

In [26]:
df['时长']=df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '8U'

In [29]:
df[df['时长']=='8U']

             名字  投票人数      类型  产地                 上映时间  时长    年代   评分 首映地点
31169  一个被隔绝的世界    46  纪录片/短片  瑞典  2001-10-25 00:00:00  8U  1948  7.8   美国

In [30]:
df.drop([31169],inplace=True)

In [31]:
df['时长']=df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '12J'

In [32]:
df[df['时长']=='12J']

         名字  投票人数   类型  产地                 上映时间   时长    年代   评分 首映地点
32458  渔业危机    41  纪录片  英国  2009-06-19 00:00:00  12J  2008  8.2  USA

In [34]:
df.drop([32458],inplace=True)

In [35]:
df['时长']=df['时长'].astype('int')

In [36]:
df['时长'][:5]

0    142
1    116
2    116
3    142
4    171
Name: 时长, dtype: int32

In [37]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

# 排序

默认排序

In [38]:
df[:10]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
7,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,日本,1997-07-19 00:00:00,87,1997,9.4,日本
8,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,日本,2013-07-06 00:00:00,110,2013,9.4,日本
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国

按照投票人数进行排序

In [40]:
df.sort_values(by='投票人数')[:5]   #默认升序排列

           名字  投票人数     类型    产地                 上映时间   时长    年代   评分 首映地点
1789   爱和一颗子弹    21  动作/犯罪    美国  2002-08-30 00:00:00   85  2002  7.0   美国
36499    魂惊一线    21  惊悚/恐怖    美国  2003-08-21 00:00:00  108  2002  5.3   美国
36728   生生舞不息    21  剧情/歌舞    法国  2002-04-12 00:00:00  100  2002  6.8   美国
35079   川崎的玫瑰    21     剧情    其他  2009-12-21 00:00:00  100  2009  6.1   美国
22513   少年邓恩铭    21  剧情/传记  中国大陆  2011-07-01 00:00:00   90  2011  3.8   美国

In [41]:
df.sort_values(by='投票人数',ascending=False)[:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆

按照年代进行排序

In [42]:
df.sort_values(by='年代')[:5]

            名字  投票人数           类型  产地                 上映时间  时长    年代   评分 首映地点
13791     利兹大桥   126           短片  英国              1888-10  60  1888  7.2   美国
1499   朗德海花园场景   650           短片  英国           1888-10-14  60  1888  8.7   美国
25767      恶作剧    51           短片  美国  1905-03-04 00:00:00  60  1890  4.8   美国
10389   可怜的比埃洛   176  喜剧/爱情/动画/短片  法国           1892-10-28  60  1892  7.5   法国
12127    更衣室之旁   148        动画/短片  法国              1894-12  60  1894  7.0   法国

多个值排序，先按照评分，再按照投票人数

In [45]:
df.sort_values(by=['评分','投票人数'],ascending=False)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9049,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13625,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
23190,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
24880,索科洛夫：巴黎现场,43,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
11236,公园现场,163,音乐,英国,2012-12-03 00:00:00,60,2012,9.8,美国
...,...,...,...,...,...,...,...,...,...
2587,爸爸我来救你了,278,喜剧/动作/家庭/儿童/冒险,中国大陆,2016-01-22 00:00:00,90,2015,2.2,中国大陆
9984,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
8816,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
12884,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
28663,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

# 基本统计分析

描述性统计

In [24]:
df.describe()

         Unnamed: 0           投票人数           评分
count  38168.000000   38168.000000  38168.00000
mean   19083.500000    6264.734804      6.92221
std    11018.296874   26291.183504      1.26379
min        0.000000      21.000000      2.00000
25%     9541.750000     101.000000      6.30000
50%    19083.500000     354.000000      7.10000
75%    28625.250000    1798.000000      7.80000
max    38167.000000  692795.000000      9.90000

In [25]:
df.describe('年代')

TypeError: '<=' not supported between instances of 'int' and 'numpy.str_'

In [27]:
df[df['年代']>2018]

TypeError: '>' not supported between instances of 'str' and 'int'

最值

均值和中值

方差和标准差

求和

相关系数，协方差

计数