In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('movie_data2.xlsx',index_col=0)

In [3]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

# 数据重塑和轴向旋转

层次化索引

Series的层次化索引

In [4]:
s=pd.Series(np.arange(1,10),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]])
s

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32

In [5]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
#选择外层索引
s['a']

1    1
2    2
3    3
dtype: int32

In [7]:
#切片
s['a':'c']

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
dtype: int32

In [8]:
#取内层,a1,b1,c1
s[:,1]

a    1
b    4
c    7
dtype: int32

In [9]:
#a1对应的数
s['a',1]

1

Series变为DataFrame

In [10]:
s.unstack()

     1    2    3
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  7.0  NaN  6.0
d  NaN  8.0  9.0

In [11]:
s.unstack().stack()

a  1    1.0
   2    2.0
   3    3.0
b  1    4.0
   2    5.0
c  1    7.0
   3    6.0
d  2    8.0
   3    9.0
dtype: float64

DataFrame的层次化索引

In [13]:
data=pd.DataFrame(np.arange(12).reshape(4,3),index=[['a','a','b','b'],[1,2,1,2]],columns=[['A','A','B'],['Z','X','C']])
data

     A       B
     Z   X   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [14]:
data['A']

     Z   X
a 1  0   1
  2  3   4
b 1  6   7
  2  9  10

In [15]:
data.index.names=['row1','row2']
data.columns.names=['columns1','columns2']
data

columns1   A       B
columns2   Z   X   C
row1 row2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [16]:
data.swaplevel('row1','row2')

columns1   A       B
columns2   Z   X   C
row2 row1
1    a     0   1   2
2    a     3   4   5
1    b     6   7   8
2    b     9  10  11

# 电影数据处理

In [17]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            38153, 38154, 38155, 38156, 38157, 38158, 38159, 38160, 38161,
            38162],
           dtype='int64', length=38163)

把产地和年代同时设为索引，产地是外层索引，年代为内层索引

In [19]:
df=df.set_index(['产地','年代'])
df

                                                          名字    投票人数  \
产地   年代
美国   1994                                             肖申克的救赎  692795
     1957                                               控方证人   42995
意大利  1997                                              美丽人生   327855
美国   1994                                               阿甘正传  580897
中国大陆 1993                                               霸王别姬  478523
...                                                      ...     ...
法国   1983                                              神学院 S      46
美国   1935                                              1935年      57
中国大陆 1986                                               血溅画屏      95
     1986                                             魔窟中的幻想      51
俄罗斯  1977  列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32

                       类型                 上映时间   时长   评分    首映地点
产地   年代
美国   1994           剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
     1957        剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
意大利  1997        剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
美国   1994           剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
中国大陆 1993        剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港
...                   ...                  ...  ...  ...     ...
法国   1983           Adult  1905-06-05 00:00:00   58  8.6      美国
美国   1935           喜剧/歌舞  1935-03-15 00:00:00   98  7.6      美国
中国大陆 1986  剧情/悬疑/犯罪/武侠/古装  1905-06-08 00:00:00   91  7.1      美国
     1986        惊悚/恐怖/儿童  1905-06-08 00:00:00   78  8.0      美国
俄罗斯  1977           剧情/战争  1905-05-30 00:00:00   97  6.6      美国

[38163 rows x 7 columns]

In [21]:
df.index[0]

('美国', 1994)

In [22]:
#获取所有的美国电影
df.loc['美国']

          名字    投票人数           类型                 上映时间   时长   评分    首映地点
年代
1994  肖申克的救赎  692795        剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
1957    控方证人   42995     剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
1994    阿甘正传  580897        剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
2012  泰坦尼克号   157074     剧情/爱情/灾难  2012-04-10 00:00:00  194  9.4    中国大陆
1993  辛德勒的名单  306904     剧情/历史/战争  1993-11-30 00:00:00  195  9.4   华盛顿首映
...      ...     ...          ...                  ...  ...  ...     ...
1987   跷家的一夜      82  喜剧/动作/惊悚/冒险  1987-07-01 00:00:00  102  7.8      美国
1987   零下的激情     199     剧情/爱情/犯罪  1987-11-06 00:00:00   98  7.4      美国
1986    离别秋波     240     剧情/爱情/音乐  1986-02-19 00:00:00   90  8.2      美国
1986    极乐森林      45          纪录片  1986-09-14 00:00:00   90  8.1      美国
1935   1935年      57        喜剧/歌舞  1935-03-15 00:00:00   98  7.6      美国

[11713 rows x 7 columns]

In [23]:
df.loc['中国大陆']

            名字    投票人数              类型                 上映时间   时长   评分  首映地点
年代
1993      霸王别姬  478523        剧情/爱情/同性  1993-01-01 00:00:00  171  9.4    香港
1961      大闹天宫   74881           动画/奇幻  1905-05-14 00:00:00  114  9.2    上集
2015      穹顶之下   51113             纪录片  2015-02-28 00:00:00  104  9.2  中国大陆
1982        茶馆   10678           剧情/历史  1905-06-04 00:00:00  118  9.2    美国
1988       山水情   10781           动画/短片  1905-06-10 00:00:00   19  9.2    美国
...        ...     ...             ...                  ...  ...  ...   ...
1986  T省的八四、八五     380              剧情  1905-06-08 00:00:00   94  8.7    美国
1986   失踪的女中学生     101              儿童  1905-06-08 00:00:00  102  7.4    美国
1986     血战台儿庄    2908              战争  1905-06-08 00:00:00  120  8.1    美国
1986      血溅画屏      95  剧情/悬疑/犯罪/武侠/古装  1905-06-08 00:00:00   91  7.1    美国
1986    魔窟中的幻想      51        惊悚/恐怖/儿童  1905-06-08 00:00:00   78  8.0    美国

[3791 rows x 7 columns]

In [24]:
df=df.swaplevel('年代','产地')
df

                                                          名字    投票人数  \
年代   产地
1994 美国                                               肖申克的救赎  692795
1957 美国                                                 控方证人   42995
1997 意大利                                               美丽人生   327855
1994 美国                                                 阿甘正传  580897
1993 中国大陆                                               霸王别姬  478523
...                                                      ...     ...
1983 法国                                                神学院 S      46
1935 美国                                                1935年      57
1986 中国大陆                                               血溅画屏      95
     中国大陆                                             魔窟中的幻想      51
1977 俄罗斯   列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32

                       类型                 上映时间   时长   评分    首映地点
年代   产地
1994 美国             剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
1957 美国          剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
1997 意大利         剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
1994 美国             剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
1993 中国大陆        剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港
...                   ...                  ...  ...  ...     ...
1983 法国             Adult  1905-06-05 00:00:00   58  8.6      美国
1935 美国             喜剧/歌舞  1935-03-15 00:00:00   98  7.6      美国
1986 中国大陆  剧情/悬疑/犯罪/武侠/古装  1905-06-08 00:00:00   91  7.1      美国
     中国大陆        惊悚/恐怖/儿童  1905-06-08 00:00:00   78  8.0      美国
1977 俄罗斯            剧情/战争  1905-05-30 00:00:00   97  6.6      美国

[38163 rows x 7 columns]

In [25]:
df=df.reset_index()
df[:5]

     年代    产地      名字    投票人数        类型                 上映时间   时长   评分    首映地点
0  1994    美国  肖申克的救赎  692795     剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
1  1957    美国    控方证人   42995  剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
2  1997   意大利   美丽人生   327855  剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
3  1994    美国    阿甘正传  580897     剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
4  1993  中国大陆    霸王别姬  478523  剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港

数据旋转

In [27]:
data=df[:5]
data

     年代    产地      名字    投票人数        类型                 上映时间   时长   评分    首映地点
0  1994    美国  肖申克的救赎  692795     剧情/犯罪  1994-09-10 00:00:00  142  9.6  多伦多电影节
1  1957    美国    控方证人   42995  剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.5      美国
2  1997   意大利   美丽人生   327855  剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.5     意大利
3  1994    美国    阿甘正传  580897     剧情/爱情  1994-06-23 00:00:00  142  9.4   洛杉矶首映
4  1993  中国大陆    霸王别姬  478523  剧情/爱情/同性  1993-01-01 00:00:00  171  9.4      香港

In [28]:
#行和列交换
data.T

,0,1,2,3,4
年代,1994,1957,1997,1994,1993
产地,美国,美国,意大利,美国,中国大陆
名字,肖申克的救赎,控方证人,美丽人生,阿甘正传,霸王别姬
投票人数,692795,42995,327855,580897,478523
类型,剧情/犯罪,剧情/悬疑/犯罪,剧情/喜剧/爱情,剧情/爱情,剧情/爱情/同性
上映时间,1994-09-10 00:00:00,1957-12-17 00:00:00,1997-12-20 00:00:00,1994-06-23 00:00:00,1993-01-01 00:00:00
时长,142,116,116,142,171
评分,9.6,9.5,9.5,9.4,9.4
首映地点,多伦多电影节,美国,意大利,洛杉矶首映,香港

In [29]:
data.stack()

0  年代                     1994
   产地                       美国
   名字                   肖申克的救赎
   投票人数                 692795
   类型                    剧情/犯罪
   上映时间    1994-09-10 00:00:00
   时长                      142
   评分                      9.6
   首映地点                 多伦多电影节
1  年代                     1957
   产地                       美国
   名字                     控方证人
   投票人数                  42995
   类型                 剧情/悬疑/犯罪
   上映时间    1957-12-17 00:00:00
   时长                      116
   评分                      9.5
   首映地点                     美国
2  年代                     1997
   产地                      意大利
   名字                    美丽人生
   投票人数                 327855
   类型                 剧情/喜剧/爱情
   上映时间    1997-12-20 00:00:00
   时长                      116
   评分                      9.5
   首映地点                    意大利
3  年代                     1994
   产地                       美国
   名字                     阿甘正传
   投票人数                 580897
   类型                    剧情/爱情
   上映时间    1994-06-23 00:00:00
   时长                      142
   评分                      9.4
   首映地点                  洛杉矶首映
4  年代                     1993
   产地                     中国大陆
   名字                     霸王别姬
   投票人数                 478523
   类型                 剧情/爱情/同性
   上映时间    1993-01-01 00:00:00
   时长                      171
   评分                      9.4
   首映地点                     香港
dtype: object

# 数据分组，分组运算   采用GroupBy技术

按照电影的产地进行分组

In [31]:
group=df.groupby(df['产地'])

先定义一个分组变量group

In [32]:
type(group)

pandas.core.groupby.generic.DataFrameGroupBy

可以计算分组后的各个统计量

In [34]:
group.sum()

            年代       投票人数       时长       评分
产地
中国台湾   1235388    5237466    53925   4367.2
中国大陆   7632307   41380577   308998  22992.0
中国香港   5668630   23179448   252111  18430.2
丹麦      393821     394745    17436   1427.6
俄罗斯     944809     486082    45744   3597.2
其他     3763593    3048849   165057  13607.9
加拿大    1419787    1362581    57140   4769.6
印度      714150    1146173    43058   2443.9
墨西哥     233156     139462    10839    829.0
巴西      197989     357027     8749    716.0
德国     2037971    2679856    94196   7338.3
意大利    1471329    2500842    77311   5322.7
日本    10050612   17981680   425672  36014.9
比利时     273932     170449    11380    986.0
法国     5551130   10208966   251524  20186.5
波兰      359652     159577    14613   1347.0
泰国      590684    1564881    26002   1796.1
澳大利亚    590875    1415443    25250   2051.3
瑞典      371589     289794    17695   1388.6
美国    23361788  101522376  1053838  81093.2
英国     5307045   13236409   237129  19930.8
荷兰      302181     144596    11459   1081.2
西班牙     886685    1486383    40271   3112.1
阿根廷     226476     258085    10458    819.1
韩国     2694873    8759930   134225   8523.2

计算每年的平均评分

In [37]:
df['评分'].groupby(df['年代']).mean()

年代
1888     7.950000
1890     4.800000
1892     7.500000
1894     6.633333
1895     7.575000
           ...
2014     6.249384
2015     6.121925
2016     5.834524
34943    9.900000
39180    8.900000
Name: 评分, Length: 128, dtype: float64

传入多个分组变量

In [39]:
df.groupby([df['产地'],df['年代']]).mean()

                   投票人数          时长        评分
产地   年代
中国台湾 1963    121.000000  113.000000  6.400000
     1965    153.666667  105.000000  6.800000
     1966     51.000000   60.000000  7.900000
     1967   4444.000000  112.000000  8.000000
     1968     89.000000   83.000000  7.400000
...                 ...         ...       ...
韩国   2012   5812.542857  100.771429  6.035238
     2013  10470.370370   97.731481  6.062037
     2014   3776.266667   98.666667  5.650833
     2015   3209.247706  100.266055  5.423853
     2016   1739.850000  106.100000  5.730000

[1579 rows x 3 columns]

获得每个地区每一年电影的评分均值

In [40]:
group=df['评分'].groupby([df['产地'],df['年代']])

In [41]:
means=group.mean()
means

产地    年代
中国台湾  1963    6.400000
      1965    6.800000
      1966    7.900000
      1967    8.000000
      1968    7.400000
                ...
韩国    2012    6.035238
      2013    6.062037
      2014    5.650833
      2015    5.423853
      2016    5.730000
Name: 评分, Length: 1579, dtype: float64

Series通过unstack转换为DataFrame时可能会产生空值

In [42]:
means.unstack()

年代,1888,1890,1892,1894,1895,1896,1897,1898,1899,1900,...,2009,2010,2011,2012,2013,2014,2015,2016,34943,39180
产地,,,,,,,,,,,,,,,,,,,,,
中国台湾,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.100000,7.053846,7.231818,6.556098,7.076471,6.522222,6.576000,NaN,NaN,NaN
中国大陆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.529825,6.358468,5.824606,5.722328,5.306500,4.963830,4.969189,4.712000,9.9,NaN
中国香港,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.442553,6.245455,5.971053,6.110526,6.105714,5.616667,5.589189,5.390909,NaN,NaN
丹麦,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.118182,7.362500,7.016667,7.418750,6.555556,7.120000,7.166667,7.000000,NaN,NaN
俄罗斯,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.278571,6.858824,7.040000,6.572727,6.875000,7.175000,7.342857,NaN,NaN,NaN
其他,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.760185,6.848571,6.789189,6.591743,6.853571,6.596250,6.732727,6.833333,NaN,NaN
加拿大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.544186,6.500000,6.100000,6.425000,6.018182,5.921739,6.018750,6.200000,NaN,NaN
印度,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.728000,6.812903,6.610000,6.502632,6.400000,6.374194,6.736364,6.900000,NaN,NaN
墨西哥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,6.333333,6.550000,7.100000,6.983333,7.250000,6.500000,NaN,NaN,NaN
巴西,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.883333,7.760000,6.883333,7.320000,8.000000,6.860000,6.760000,NaN,NaN,NaN
德国,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.047059,7.008772,6.997500,6.828846,6.893333,6.923077,7.009091,NaN,NaN,NaN
意大利,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.047826,6.770588,6.487500,6.922222,6.753333,6.475000,6.875000,NaN,NaN,NaN
日本,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.944400,7.061905,6.816207,6.967832,7.093537,7.023795,6.888686,7.181579,NaN,8.9
比利时,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.866667,6.380000,7.100000,6.700000,6.657143,6.350000,7.033333,NaN,NaN,NaN
法国,NaN,NaN,7.5,7.00,7.575,7.650000,6.633333,8.5,6.9,7.10,...,6.988889,7.070732,6.999099,6.823636,6.904494,6.986842,6.946552,7.300000,NaN,NaN
波兰,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.400000,7.000000,6.911111,7.066667,6.966667,7.060000,6.300000,NaN,NaN,NaN
泰国,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.412500,5.964516,5.645833,5.962963,5.568000,5.653571,5.846667,NaN,NaN,NaN
澳大利亚,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.873077,5.758824,6.376923,6.200000,6.760000,6.568750,6.880000,NaN,NaN,NaN
瑞典,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.020000,7.458333,6.600000,5.962500,7.100000,6.960000,7.625000,NaN,NaN,NaN
美国,NaN,4.8,NaN,6.45,NaN,6.366667,NaN,NaN,NaN,7.45,...,6.497190,6.537475,6.570000,6.419085,6.308255,6.393056,6.231486,6.522581,NaN,NaN
英国,7.95,NaN,NaN,NaN,NaN,6.600000,NaN,6.4,NaN,7.20,...,7.330657,7.534228,7.315267,7.269014,7.460140,7.253398,7.123256,7.200000,NaN,NaN
荷兰,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.736364,6.970000,6.622222,6.766667,6.330000,7.300000,6.700000,NaN,NaN,NaN
西班牙,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.875000,6.933333,6.742857,6.645000,6.358333,6.868750,6.514286,NaN,NaN,NaN
阿根廷,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.371429,6.900000,7.350000,6.483333,6.616667,7.150000,7.233333,NaN,NaN,NaN
韩国,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.475000,6.436364,6.328090,6.035238,6.062037,5.650833,5.423853,5.730000,NaN,NaN

In [43]:
means.unstack().T

产地,中国台湾,中国大陆,中国香港,丹麦,俄罗斯,其他,加拿大,印度,墨西哥,巴西,...,波兰,泰国,澳大利亚,瑞典,美国,英国,荷兰,西班牙,阿根廷,韩国
年代,,,,,,,,,,,,,,,,,,,,,
1888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.950000,NaN,NaN,NaN,NaN
1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.800000,NaN,NaN,NaN,NaN,NaN
1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.450000,NaN,NaN,NaN,NaN,NaN
1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,6.522222,4.963830,5.616667,7.120000,7.175000,6.596250,5.921739,6.374194,7.25,6.86,...,7.06,5.653571,6.56875,6.960,6.393056,7.253398,7.3,6.868750,7.150000,5.650833
2015,6.576000,4.969189,5.589189,7.166667,7.342857,6.732727,6.018750,6.736364,6.50,6.76,...,6.30,5.846667,6.88000,7.625,6.231486,7.123256,6.7,6.514286,7.233333,5.423853
2016,NaN,4.712000,5.390909,7.000000,NaN,6.833333,6.200000,6.900000,NaN,NaN,...,NaN,NaN,NaN,NaN,6.522581,7.200000,NaN,NaN,NaN,5.730000
34943,NaN,9.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 离散化处理

In [44]:
#把评分为9分以上的电影定义为A，7-9定义为B，5-7定义为C，3-5定义为D，小于3定义为E
pd.cut(df['评分'],[0,3,5,7,9,10],labels=['E','D','C','B','A'])

0        A
1        A
2        A
3        A
4        A
        ..
38158    B
38159    B
38160    B
38161    B
38162    C
Name: 评分, Length: 38163, dtype: category
Categories (5, object): [E < D < C < B < A]

In [45]:
df['评分等级']=pd.cut(df['评分'],[0,3,5,7,9,10],labels=['E','D','C','B','A'])
df[:10]

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A
6,1993,美国,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A
7,1997,日本,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A
8,2013,日本,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A
9,1994,法国,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A

根据投票人数来刻画电影的热门

In [46]:
bins=np.percentile(df['投票人数'],[0,20,40,60,80,100])

In [47]:
df['热门程度']=pd.cut(df['投票人数'],bins,labels=['E','D','C','B','A'])
df[:10]

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A
6,1993,美国,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A,A
7,1997,日本,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A,A
8,2013,日本,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A,A
9,1994,法国,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A,A

In [49]:
#筛选
df[(df.评分等级=='E')&(df.热门程度=='A')]

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
623,2011,中国大陆,B区,5187,剧情/惊悚/恐怖,2011-06-03 00:00:00,89,2.3,中国大陆,E,A
4167,2014,中国大陆,怖偶,4867,悬疑/惊悚,2014-05-07 00:00:00,88,2.8,中国大陆,E,A
5200,2011,中国大陆,床下有人,4309,悬疑/惊悚,2011-10-14 00:00:00,100,2.8,中国大陆,E,A
6585,2013,中国大陆,帝国秘符,4351,动作/冒险,2013-09-18 00:00:00,93,3.0,中国大陆,E,A
8009,2011,中国大陆,飞天,4764,剧情,2011-07-01 00:00:00,115,2.9,中国大陆,E,A
8181,2014,中国大陆,分手达人,3937,喜剧/爱情,2014-06-06 00:00:00,90,2.7,中国大陆,E,A
9372,2012,中国大陆,孤岛惊魂,2982,悬疑/惊悚/恐怖,2013-01-26 00:00:00,93,2.8,中国大陆,E,A
10275,2013,中国大陆,海天盛宴·韦口,3788,情色,2013-10-12 00:00:00,88,2.9,网络,E,A
16512,2013,中国大陆,孪生密码,6390,动作/悬疑,2013-11-08 00:00:00,96,2.9,中国大陆,E,A
21190,2010,日本,拳皇,6329,动作/科幻/冒险,2012-10-12 00:00:00,93,3.0,中国大陆,E,A
22349,2013,中国大陆,闪魂,3119,惊悚/犯罪,2014-02-21 00:00:00,94,2.6,中国大陆,E,A
22525,2015,中国大陆,少年毛泽东,3058,动画/儿童/冒险,2015-04-30 00:00:00,76,2.4,中国大陆,E,A
23755,2013,英国,史前怪兽,3543,动作/惊悚/冒险,2014-01-01 00:00:00,89,3.0,中国大陆,E,A
27833,2011,中国大陆,无极限之危情速递,6319,喜剧/动作/爱情/冒险,2011-08-12 00:00:00,94,2.8,中国大陆,E,A
31623,2010,中国大陆,异度公寓,3639,惊悚,2010-06-04 00:00:00,93,2.7,中国大陆,E,A
32008,2014,中国大陆,英雄之战,8359,动作/爱情,2014-03-21 00:00:00,90,3.0,中国大陆,E,A
32181,2013,中国大陆,咏春小龙,8861,剧情/动作,2013-07-20 00:00:00,90,3.0,中国大陆,E,A
32991,2014,中国大陆,再爱一次好不好,6999,喜剧/爱情,2014-04-11 00:00:00,94,3.0,中国大陆,E,A
38091,2014,中国大陆,大话天仙,21629,喜剧/奇幻/古装,2014-02-02 00:00:00,91,3.0,中国大陆,E,A
38093,2013,中国大陆,天机·富春山居图,74709,动作/冒险,2013-06-09 00:00:00,122,2.9,中国大陆,E,A
38094,2014,中国大陆,特工艾米拉,10852,动作/悬疑,2014-04-11 00:00:00,96,2.7,中国大陆,E,A
38098,2015,中国大陆,汽车人总动员,12892,喜剧/动画/冒险,2015-07-03 00:00:00,85,2.3,中国大陆,E,A
38103,2016,中国大陆,2016年中央电视台春节,17328,歌舞/真人秀,2016-02-07 00:00:00,280,2.3,中国大陆,E,A
38109,2014,中国大陆,放手爱,29254,喜剧/爱情,2014-04-30 00:00:00,93,2.3,中国大陆,E,A

In [50]:
df[(df.评分等级=='A')&(df.热门程度=='E')]

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
563,2011,英国,BBC喜剧音,38,喜剧/音乐/歌舞,2011-08-13 00:00:00,95,9.3,美国,A,E
895,2014,日本,JOJO的奇妙冒险 特别见面会 Walk Like Crusade,36,纪录片,2014-10-26 00:00:00,137,9.3,美国,A,E
1099,2012,英国,Pond一家最,45,纪录片,2012-09-29 00:00:00,12,9.2,美国,A,E
1540,2007,英国,阿森纳：温格的十一人,74,运动,2007-10-22 00:00:00,78,9.5,美国,A,E
1547,2009,英国,阿斯加德远征,59,纪录片,2011-09-17 00:00:00,85,9.3,美国,A,E
...,...,...,...,...,...,...,...,...,...,...,...
36847,2012,中国大陆,末了，未了,34,剧情/喜剧/爱情,2012-12-16 00:00:00,90,9.5,美国,A,E
37001,2015,中国大陆,身经百战,74,纪录片,2015-03-24 00:00:00,91,9.1,美国,A,E
37034,1986,英国,歌唱神探,36,剧情/悬疑/歌舞,1986-11-16 00:00:00,415,9.1,美国,A,E
37558,1975,美国,山那边,70,剧情,1975-11-14 00:00:00,103,9.1,美国,A,E
37884,2015,美国,奎,62,纪录片/短片,2015-08-19 00:00:00,9,9.1,纽约电影论坛,A,E

In [51]:
df.to_excel('movie_data3.xlsx')

# 合并数据集

append

In [52]:
df_usa=df[df.产地=='美国']
df_china=df[df.产地=='中国大陆']

In [53]:
df_china.append(df_usa)

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
21,1961,中国大陆,大闹天宫,74881,动画/奇幻,1905-05-14 00:00:00,114,9.2,上集,A,A
29,2015,中国大陆,穹顶之下,51113,纪录片,2015-02-28 00:00:00,104,9.2,中国大陆,A,A
38,1982,中国大陆,茶馆,10678,剧情/历史,1905-06-04 00:00:00,118,9.2,美国,A,A
45,1988,中国大陆,山水情,10781,动画/短片,1905-06-10 00:00:00,19,9.2,美国,A,A
...,...,...,...,...,...,...,...,...,...,...,...
38150,1987,美国,跷家的一夜,82,喜剧/动作/惊悚/冒险,1987-07-01 00:00:00,102,7.8,美国,B,D
38152,1987,美国,零下的激情,199,剧情/爱情/犯罪,1987-11-06 00:00:00,98,7.4,美国,B,D
38154,1986,美国,离别秋波,240,剧情/爱情/音乐,1986-02-19 00:00:00,90,8.2,美国,B,C
38157,1986,美国,极乐森林,45,纪录片,1986-09-14 00:00:00,90,8.1,美国,B,E
38159,1935,美国,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.6,美国,B,E

merge

In [55]:
df1=df.loc[:5]
df1

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A

In [58]:
df2=df.loc[:5][['名字','产地']]
df2['票房']=[12324,13343,12345,34567,34352,45631]
df2

       名字    产地     票房
0  肖申克的救赎    美国  12324
1    控方证人    美国  13343
2   美丽人生    意大利  12345
3    阿甘正传    美国  34567
4    霸王别姬  中国大陆  34352
5  泰坦尼克号     美国  45631

In [60]:
df2=df2.sample(frac=1)
df2

       名字    产地     票房
4    霸王别姬  中国大陆  34352
5  泰坦尼克号     美国  45631
0  肖申克的救赎    美国  12324
1    控方证人    美国  13343
2   美丽人生    意大利  12345
3    阿甘正传    美国  34567

In [61]:
df2.index=range(len(df2))

In [62]:
df2

       名字    产地     票房
0    霸王别姬  中国大陆  34352
1  泰坦尼克号     美国  45631
2  肖申克的救赎    美国  12324
3    控方证人    美国  13343
4   美丽人生    意大利  12345
5    阿甘正传    美国  34567

In [63]:
pd.merge(df1,df2,how='inner',on='名字')

,年代,产地_x,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度,产地_y,票房
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A,美国,12324
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A,美国,13343
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A,意大利,12345
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A,美国,34567
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A,中国大陆,34352
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A,美国,45631

cntact

In [64]:
df1=df[:10]
df2=df[100:110]
df3=df[200:210]

In [65]:
df1

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A
6,1993,美国,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A,A
7,1997,日本,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A,A
8,2013,日本,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A,A
9,1994,法国,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A,A

In [66]:
df2

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
100,1993,韩国,101,146,喜剧/爱情,1993-06-19 00:00:00,112,7.4,韩国,B,D
101,1995,英国,10,186,喜剧,1995-01-25 00:00:00,101,7.4,美国,B,D
102,2013,韩国,素媛,114819,剧情/家庭,2013-10-02 00:00:00,123,9.1,韩国,A,A
103,2003,美国,101忠狗续集：伦敦,924,喜剧/动画/家庭,2003-01-21 00:00:00,70,7.5,美国,B,B
104,2000,美国,10,9514,喜剧/家庭,2000-09-22 00:00:00,100,7.0,美国,C,A
105,2013,韩国,10,601,剧情,2014-04-24 00:00:00,93,7.2,美国,B,C
106,2006,美国,10件或,1770,剧情/喜剧/爱情,2006-12-01 00:00:00,82,7.7,美国,B,B
107,2014,美国,10年,1531,喜剧/同性,2015-06-02 00:00:00,90,6.9,美国,C,B
108,2012,日本,11·25自决之日 三岛由纪夫与年轻人们 11・25自決の,149,剧情,2012-06-02 00:00:00,119,5.6,日本,C,D
109,1997,美国,泰坦尼克号,535491,剧情/爱情/灾难,1998-04-03 00:00:00,194,9.1,中国大陆,A,A

In [67]:
df3

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
200,2014,日本,最完美的离婚 2014特别篇,18478,剧情/喜剧/爱情,2014-02-08 00:00:00,120,9.1,日本,A,A
201,2009,日本,2001夜物,84,剧情/动画,2009-10-02 00:00:00,80,6.6,美国,C,D
202,2009,中国香港,头七 頭,7039,恐怖,2009-05-21 00:00:00,60,6.2,美国,C,A
203,1896,法国,火车进站 L,7001,纪录片/短片,1896-01-06,60,8.8,法国,B,A
204,2009,美国,银行舞蹈,6944,短片,1905-07-01 00:00:00,60,7.8,美国,B,A
205,2003,荷兰,2003提雅,48,音乐,2003-10-07 00:00:00,200,8.9,美国,B,E
206,2012,美国,死亡飞车3：地狱烈,6937,动作,2012-12-12 00:00:00,60,5.8,美国,C,A
207,2012,日本,时光钟摆 振り,6876,剧情/动画/短片,2012-03-20 00:00:00,60,8.7,美国,B,A
208,2011,中国香港,你还可爱么 你還可愛,6805,短片,2011-04-22 00:00:00,60,8.3,美国,B,A
209,2002,中国香港,一碌蔗,6799,剧情/喜剧/爱情,2002-09-19 00:00:00,60,6.7,美国,C,A

In [69]:
dff=pd.concat([df1,df2,df3])
dff

,年代,产地,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,1994,美国,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1957,美国,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,1997,意大利,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,1994,美国,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,1993,中国大陆,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,2012,美国,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A
6,1993,美国,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A,A
7,1997,日本,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A,A
8,2013,日本,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A,A
9,1994,法国,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A,A
100,1993,韩国,101,146,喜剧/爱情,1993-06-19 00:00:00,112,7.4,韩国,B,D
101,1995,英国,10,186,喜剧,1995-01-25 00:00:00,101,7.4,美国,B,D
102,2013,韩国,素媛,114819,剧情/家庭,2013-10-02 00:00:00,123,9.1,韩国,A,A
103,2003,美国,101忠狗续集：伦敦,924,喜剧/动画/家庭,2003-01-21 00:00:00,70,7.5,美国,B,B
104,2000,美国,10,9514,喜剧/家庭,2000-09-22 00:00:00,100,7.0,美国,C,A
105,2013,韩国,10,601,剧情,2014-04-24 00:00:00,93,7.2,美国,B,C
106,2006,美国,10件或,1770,剧情/喜剧/爱情,2006-12-01 00:00:00,82,7.7,美国,B,B
107,2014,美国,10年,1531,喜剧/同性,2015-06-02 00:00:00,90,6.9,美国,C,B
108,2012,日本,11·25自决之日 三岛由纪夫与年轻人们 11・25自決の,149,剧情,2012-06-02 00:00:00,119,5.6,日本,C,D
109,1997,美国,泰坦尼克号,535491,剧情/爱情/灾难,1998-04-03 00:00:00,194,9.1,中国大陆,A,A
200,2014,日本,最完美的离婚 2014特别篇,18478,剧情/喜剧/爱情,2014-02-08 00:00:00,120,9.1,日本,A,A
201,2009,日本,2001夜物,84,剧情/动画,2009-10-02 00:00:00,80,6.6,美国,C,D
202,2009,中国香港,头七 頭,7039,恐怖,2009-05-21 00:00:00,60,6.2,美国,C,A
203,1896,法国,火车进站 L,7001,纪录片/短片,1896-01-06,60,8.8,法国,B,A
204,2009,美国,银行舞蹈,6944,短片,1905-07-01 00:00:00,60,7.8,美国,B,A
205,2003,荷兰,2003提雅,48,音乐,2003-10-07 00:00:00,200,8.9,美国,B,E
206,2012,美国,死亡飞车3：地狱烈,6937,动作,2012-12-12 00:00:00,60,5.8,美国,C,A
207,2012,日本,时光钟摆 振り,6876,剧情/动画/短片,2012-03-20 00:00:00,60,8.7,美国,B,A
208,2011,中国香港,你还可爱么 你還可愛,6805,短片,2011-04-22 00:00:00,60,8.3,美国,B,A
209,2002,中国香港,一碌蔗,6799,剧情/喜剧/爱情,2002-09-19 00:00:00,60,6.7,美国,C,A