# 第二次课作业

（1）创建一个1到10的数组，然后逆序输出。

In [1]:
import numpy as np

In [2]:
a=np.arange(1,11)
a[::-1]

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

（2）创建一个长度为20的全1数组，然后变成一个4×5的二维矩阵并转置。

In [3]:
b=np.ones(20)
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

In [4]:
b.shape=4,5
b

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [5]:
b.T

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

（3）创建一个3x3x3的随机数组。
(提示: np.random.random)

In [8]:
c=np.random.random((3,3,3))
c

array([[[0.51321409, 0.68892086, 0.84610476],
        [0.21078754, 0.31183681, 0.28115223],
        [0.14492379, 0.40271714, 0.55292466]],

       [[0.35973847, 0.55302011, 0.67463049],
        [0.41575699, 0.6444452 , 0.25304336],
        [0.00547337, 0.85846258, 0.91380406]],

       [[0.48522526, 0.64396409, 0.06127872],
        [0.14503142, 0.9572918 , 0.29983582],
        [0.46777928, 0.54081164, 0.02254563]]])

（4）从1到10中随机选取10个数，构成一个长度为10的数组，并将其排序。获取其最大值最小值，求和，求方差。

In [9]:
d=np.random.randint(1,11,10)
d

array([ 2,  8,  5,  3,  1, 10,  3,  9, 10,  8])

In [10]:
d.max()

10

In [11]:
d.min()

1

In [12]:
d.sum()

59

In [13]:
d.var()

10.89

（5）从1到10中随机选取10个数，构成一个长度为10的数组，选出其中的奇数。

In [16]:
a=np.random.randint(1,11,10)
odd=[]
even_num=[]
for i in a:
    if i%2==1:
        odd.append(i)
        else: even_num.append(i);
odd.even_num

SyntaxError: invalid syntax (<ipython-input-16-1095fee4b881>, line 7)

（6）生成0到100，差为5的一个等差数列，然后将数据类型转化为整数。

In [17]:
f=np.arange(0,100,5)
f.astype(int)

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

（7）从1到10中随机选取10个数，大于3和小于8的取负数。

In [21]:
h=np.random.randint(1,11,10)
b=np.where((h>3) & (h<8))
b

(array([2, 4, 5, 8, 9], dtype=int64),)

（8）在数组[1, 2, 3, 4, 5]中相邻两个数字中间插入1个0。

In [22]:
a=np.array([1,2,3,4,5])
b=np.zeros(9,dtype='int')
b[::2]=a
b

array([1, 0, 2, 0, 3, 0, 4, 0, 5])

（9）新建一个5乘5的随机二位数组，交换其中两行？比如交换第一二行。

（10）把一个10\*2的随机生成的笛卡尔坐标转换成极坐标。

（11）创建一个长度为10并且除了第五个值为1其余的值为2的向量。

（12）创建一个长度为10的随机向量，并求其累计和。

In [33]:
a=np.random.random(10)
a

array([0.74726383, 0.39831851, 0.5658559 , 0.86297463, 0.08750023,
       0.5352105 , 0.68319554, 0.56576999, 0.44722404, 0.73046841])

In [34]:
a.sum()

5.623781587412256

（13）将数组中的所有奇数替换成-1。

In [32]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
a[a%2==1]=-1
a

array([-1,  2, -1,  2, -1,  4, -1,  4, -1,  6])

（14）构造两个4乘3的二维数组，按照3种方法进行连接？

In [25]:
x=np.array([[0,1,2],[10,11,12],[20,21,22],[30,31,32]])
x

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [26]:
y=np.array([[90,91,92],[100,101,102],[110,111,112],[120,121,122]])
y

array([[ 90,  91,  92],
       [100, 101, 102],
       [110, 111, 112],
       [120, 121, 122]])

In [27]:
np.vstack((x,y))

array([[  0,   1,   2],
       [ 10,  11,  12],
       [ 20,  21,  22],
       [ 30,  31,  32],
       [ 90,  91,  92],
       [100, 101, 102],
       [110, 111, 112],
       [120, 121, 122]])

In [28]:
np.hstack((x,y))

array([[  0,   1,   2,  90,  91,  92],
       [ 10,  11,  12, 100, 101, 102],
       [ 20,  21,  22, 110, 111, 112],
       [ 30,  31,  32, 120, 121, 122]])

In [29]:
np.dstack((x,y))

array([[[  0,  90],
        [  1,  91],
        [  2,  92]],

       [[ 10, 100],
        [ 11, 101],
        [ 12, 102]],

       [[ 20, 110],
        [ 21, 111],
        [ 22, 112]],

       [[ 30, 120],
        [ 31, 121],
        [ 32, 122]]])

（15）获取数组 a 和 b 中的共同项（索引位置相同，值也相同）。
a = np.array([1,2,3,2,3,4,3,4,5,6])，b = np.array([7,2,10,2,7,4,9,4,9,8])

In [30]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
a[a==b]

array([2, 2, 4, 4])

（16）从数组 a 中提取 5 和 10 之间的所有项。a=np.array([7,2,10,2,7,4,9,4,9,8])

In [31]:
a=np.array([7,2,10,2,7,4,9,4,9,8])
a[(a>5)&(a<10)]

array([7, 7, 9, 9, 8])